gumroad.dev {
	tls internal
  reverse_proxy localhost:3000
}

*.gumroad.dev {
	tls internal
  reverse_proxy localhost:3000
}

gumroad.io {
	tls internal
  reverse_proxy localhost:3000
}

*.gumroad.io {
	tls internal
  reverse_proxy localhost:3000
}

